[submodule "oh-my-zsh/custom/plugins/zsh-history-substring-search"]
	path = oh-my-zsh/custom/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "oh-my-zsh/custom/plugins/fzf-tab"]
	path = oh-my-zsh/custom/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "tmux/plugins/tmux-fingers"]
	path = tmux/plugins/tmux-fingers
	url = https://github.com/Morantron/tmux-fingers.git
